<h3>{{queue.name}}</h3>
{{currentQueue}} 
<ul>
  {{#each shortenedItems}}
  <li>
    <pre>{{fn}}</pre>
  </li>
  {{else}}
  <li>Empty!</li>
  {{/each}}
  {{#if moreItems}}
    <li style="font-weight:bold">{{moreItemsLength}} more...</li>
  {{/if}}
</ul>
