<button {{bind-attr disabled='hasItems'}} {{action 'runCode'}}>Run Code</button>

{{#if hasItems}}

  There are deferred actions that need to be flushed.

  {{#if isPlaying}}
    <button {{action 'pause'}}>Pause</button>
  {{else}}
    <button {{action 'play'}}>Play</button>
    <button {{action 'step'}}>Step</button>
  {{/if}}
{{/if}}

<div class="queue-container">
      {{#each queues}}
        {{run-loop-queue queue=this}}
      {{/each}}
</div>

    <div class="logs">
        <h3>Logging:</h3>
        <ul>
      {{#each logs}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>
      <div class="code">
         <h3>Code:</h3>

          {{textarea value=code id='code' disabled=hasItems}}
      </div>
</div>