<h1 class="title">Run Loop Status: 
{{#if hasItems}}
  Flushing {{currentQueue}} queue
{{else}}
  Not running
{{/if}}
<div class="button-bar">
  <button {{bind-attr disabled='hasItems'}} {{action 'runCode'}}>Run Code</button>
  {{#if hasItems}}
    {{#if isPlaying}}
      <button {{action 'pause'}}>Pause</button>
    {{else}}
      <button {{action 'play'}}>Play</button>
    {{/if}}
    <button {{action 'step'}} {{bind-attr disabled="isPlaying"}}>Step</button>

  {{/if}}
</div>
</h1>
<div class="queue-container">
      {{#each queues}}
        {{run-loop-queue queue=this}}
      {{/each}}
</div>

<section class="bottom">    
      <div class="code">
         <h3>Code:</h3>

          {{textarea value=code id='code' disabled=hasItems}}
      </div>
      <div class="logs">
        <h3>Logging:</h3>
        <ul>
      {{#each logs}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>
</div>
</section>